* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Arial', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  

body {
background-color: #1c1c1c;
}

/* === CABEÇALHO PADRÃO === */
.header {
background-color: #ffc857;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
}

.logo {
width: 180px;
height: 40px;
background-color: #ccc;
border-radius: 5px;
}

.login-area {
display: flex;
align-items: center;
gap: 10px;
}

.login-text {
font-size: 14px;
}

.login-button {
color: white;
text-decoration: none;
font-size: 14px;
background-color: transparent;
border: 1px solid white;
padding: 6px 12px;
border-radius: 20px;
display: flex;
align-items: center;
gap: 6px;
transition: background-color 0.3s, color 0.3s;
}

.login-button:hover {
background-color: white;
color: #000;
}

/* === NAVBAR === */
.navbar {
background-color: #333;
}

.navbar ul {
display: flex;
list-style: none;
justify-content: center;
padding: 12px 0;
gap: 40px;
}

.navbar a.active {
color: white;
font-weight: bold;
}

.navbar a {
color: #ffffffb2;
text-decoration: none;
font-weight: normal;
transition: color 0.3s, transform 0.2s;
}

.navbar a:hover {
color: white;
transform: scale(1.05);
}

.agendamento-container {
padding: 40px;
display: flex;
flex-direction: column;
gap: 30px;
background-color: #1c1c1c;
flex: 1;
padding: 30px 20px;
}

.faixa-agendamento {
background-color: #474350;
color: whitesmoke;
font-size: 16px;
font-weight: bold;
padding: 25px 32px;
text-align: left;
width: 300px;           /* Largura reduzida */
border-radius: 6px;
box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}


.form-agendamento {
display: flex;
gap: 40px;
}

.form-left,
.form-right {
flex: 1;
display: flex;
flex-direction: column;
gap: 20px;
color: whitesmoke;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="tel"] {
padding: 12px;
border-radius: 5px;
border: 1px solid #ccc;
background-color: #e5e5e5;
}

.banner-final {
    width: 100%;
    background-color: #888;
    color: white;
    text-align: center;
    padding: 40px 0;
    font-size: 16px;
    font-weight: bold;
  }

  nav a.active {
  background-color: #f4b942; /* cor de fundo destacada */
  color: black;              /* cor do texto */
  border-radius: 5px;
}
