* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }

  body {
    background-color: #1c1c1c;
  }
  
  /* === CABEÇALHO PADRÃO === */
  .header {
    background-color: #ffc857;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo {
    width: 180px;
    height: 40px;
    background-color: #ccc;
    border-radius: 5px;
  }

  /* === NAVBAR === */
.navbar {
background-color: #3c3C3C;
}

.navbar ul {
display: flex;
list-style: none;
justify-content: center;
padding: 12px 0;
gap: 40px;
}

.navbar a.active {
color: white;
font-weight: bold;
}

.navbar a {
color: #ffffffb2;
text-decoration: none;
font-weight: normal;
transition: color 0.3s, transform 0.2s;
}

.navbar a:hover {
color: white;
transform: scale(1.05);
}
  
  /* Login container */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    margin-top: 100px;
  }
  
  .login-box {
    background-color: #888;
    padding: 30px;
    border-radius: 6px;
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  
  .login-box h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-box label {
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  .login-box input {
    padding: 10px;
    border: none;
    background-color: #ccc;
    color: #000;
    border-radius: 4px;
  }
  